/* Cabecera */
header {
    background-color: rgb(243, 173, 23);
    width: 100%;
    height: 100px;
    margin: 0px 0px;
    padding: 0px;
    text-align: center;
    align-content: center;
    border: red 2px;
    font-size: 70px;
    text-shadow: 2px 2px red;
}

body {
    margin: 0px;
    
}

/* Barra de navegación */
nav{
    border: blue solid 3px;
    border-radius: 10px;
    background-color: rgb(21, 230, 21);
    word-spacing: 200px;
    font-size: 30px;
}

/* Cuerpo principal */
main {
    background-image: url(../assets/fonts/Fondo1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 890px;
    text-align: justify;
}

/* Pie de pagina */
footer {
    width: 100%;
    background-color: red;
    margin: 0px;
    height: 100px;
    padding: 0px;
    align-content: center;
    text-align: center;
    border: solid 2px green;
    /*font-weight: bold;*/
}

#ofertas{
    background-color: ;
    
}

#objeto1 {
    
}

section {
    padding: 5%;
}

h3 {
    color: yellow;
}

.enlaceMenu {
    color: red;
}

